# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# System files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Logs
*.log

# Jupyter / Colab
.ipynb_checkpoints/

Models/

# VS Code
.vscode/